---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer class="ml-auto mr-auto w-full">
  <div class="flex justify-between border-t border-skin-line pt-4">
    <p class="copy">
      &copy; {today.getFullYear()} &nbsp;|&nbsp; All rights reserved.
    </p>
    <SocialLinks />
  </div>
</footer>
<style>
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 25px;
  }
  .icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }
</style>
