---
import ExternalLink from "./ExternalLink.astro";

export interface Props {
  year: string;
  title: string;
  blogURL?: string;
  sourceURL: string;
  description: string;
  demoURL?: string;
}

const { title, description, year, blogURL, sourceURL, demoURL } = Astro.props;
---

<div class="flex flex-col gap-2">
  <a
    href={sourceURL}
    class="text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h3 class="text-lg font-medium decoration-dashed hover:underline">
      {title}
    </h3>
  </a>
  <div class="flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={`scale-90 inline-block h-6 w-6 min-w-[1.375rem] fill-skin-base`}
      aria-hidden="true"
    >
      <path
        d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
      ></path>
      <path
        d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"
      ></path>
    </svg>
    <time>{year}</time>
  </div>
  <p>{description}</p>
</div>
<style>
  .container {
    background-color: #1f1f1f;
    border: 1px solid #2c2c2c;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .year {
    color: #fff;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  }
  .description {
    color: #999;
    font-size: 16px;
  }
  .links-container {
    display: flex;
    gap: 6px;
  }
  .link {
    padding: 6px 8px;
    border: 1px solid #2c2c2c;
    color: #fff;
    background-color: #252525;
    border-radius: 6px;
  }
  .link:hover {
    border-color: #666;
    text-decoration: none;
  }

  :global(.light) .container {
    background-color: #f9f9f9;
    border-color: #ddd;
  }

  :global(.light) .title {
    color: #252525;
  }

  :global(.light) .description .year {
    color: #666;
  }

  :global(.light) .link {
    background-color: #f6f6f6;
    color: #2c2c2c;
    border-color: #ddd;
  }

  :global(.light) .link:hover {
    border-color: #666;
  }
  :global(.light) .year {
    color: #999;
  }
</style>
