---
import EmailIcon from "@assets/icons/EmailIcon.astro";
import GithubIcon from "@assets/icons/GithubIcon.astro";
import MediumIcon from "@assets/icons/MediumIcon.astro";
import LinkedIn from "@assets/icons/LinkedIn.astro";
import FeedIcon from "@assets/icons/FeedIcon.astro";
---

<div class="flex items-center gap-5">
  <a href="mailto:juniorfelix8825@outlook.com" target="_blank" class="link">
    <EmailIcon />
  </a>
  <a href="https://github.com/JrFelix540" target="_blank" class="link">
    <GithubIcon />
  </a>
  <a href="https://medium.com/@junior-felix" target="_blank" class="link">
    <MediumIcon />
  </a>
  <a
    href="https://www.linkedin.com/in/junior-felix/"
    target="_blank"
    class="link"
  >
    <LinkedIn />
  </a>
  <a href="https://">
    <FeedIcon />
  </a>
</div>
